  <header class="headerTop bg-brand-dark py-1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center text-sm-left">
          <div class="topLeft d-none d-md-block">
            <a href="#" target="_blank" class="text-white d-inline-block px-1"><i class="fa fa-phone"></i></a>
            <a href="#" target="_blank" class="text-white d-inline-block px-1"><i class="fa fa-instagram"></i></a>
            <a href="#" target="_blank" class="text-white d-inline-block px-1"><i class="fa fa-facebook-square"></i></a>
            <a href="#" target="_blank" class="text-white d-inline-block px-1"><i class="fa fa-twitter"></i></a>
          </div>
        </div>
        <div class="col-md-6 text-center text-md-right">
          <div class="topRight">
            <a href="#" class="d-inline-block text-white mr-1">Login</a>
            <a href="#" class="d-inline-block text-white mr-1">Sign Up</a>
            <a href="#" class="d-inline-block text-white mr-1">My Bookings</a>
            <div class="d-inline-block">
              <select class="bg-secondary text-white border-0 rounded px-2">
                <option>English</option>
                <option>简体中文</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <nav class="navbarForNavigation bg-brand-light">
    <div class="container">
      <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="#">
          <img src="http://hotel.tripwerkz.com/images/logo.png" class="img-fluid">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav mx-auto">
            <li class="active nav-item"><a href="#" class="nav-link text-uppercase text-white">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-uppercase text-white">Hotel</a></li>
            <li class="nav-item"><a href="#" class="nav-link text-uppercase text-white">TOURS/ATTRACTIONS & PACKAGES</a></li>
          </ul>
        </div> 
      </nav>
    </div>
  </nav>

  <section class="searchSec py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 pl-1 pr-1 col-sm-6">
          <div class="position-relative formInputBox">
            <div class="d-flex border">
              <div class="mapmarkerIcon">
                <i class="fa fa-map-marker-alt text-brand"></i>
              </div> 
              <div class="ng-autocomplete" [ngClass]="{'data-avl': isShowIn, 'data-not-avl': !isShowIn}">
                <ng-autocomplete
                  [data]="hotels"
                  [searchKeyword]="keyword"
                  placeholder="Enter the Country Name"
                  (selected)='selectEvent($event)'
                  (inputChanged)='onChangeSearch($event)'
                  (inputFocused)='onFocused($event)'
                  [itemTemplate]="itemTemplate"
                  [minQueryLength]="3"
                  [focusFirst]="false"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
                <!-- historyIdentifier="hotels" -->
                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 pl-1 pr-1 col-sm-6">
          <div class="position-relative formInputBox">
            <div class="position-absolute inputIcon">
              <i class="fa fa-calendar-alt text-brand"></i>
            </div> 
            <!-- <input type="text" placeholder="Departure Date" > -->
            <input [owlDateTime]="dt1" #arInp (dateTimeChange)="onInputArival($event)" [owlDateTimeTrigger]="dt1" [min]="minDate" [max]="maxDate" placeholder="Arrival Date" class="form-control rounded-0 bg-light position-absolute">
            <owl-date-time #dt1 [pickerType]="'calendar'"></owl-date-time>
          </div>
        </div>
        <div class="col-lg-2 pl-1 pr-1 col-sm-6">
          <div class="position-relative formInputBox">
            <div class="position-absolute inputIcon">
              <i class="fa fa-calendar-alt text-brand"></i>
            </div> 
            <input [owlDateTime]="dt2" #desInp (dateTimeChange)="onInputDest($event)" [owlDateTimeTrigger]="dt2" [min]="minDate" [max]="maxDate" placeholder="Departure Date" class="form-control rounded-0 bg-light position-absolute">
            <owl-date-time #dt2 [pickerType]="'calendar'"></owl-date-time>
          </div>
        </div>
        <div class="col-lg-2 pl-1 pr-1 col-sm-6">
          <div class="position-relative formInputBox">
            <div class="position-absolute inputIcon">
              <i class="fa fa-bed text-brand"></i>
            </div> 
            <select class="form-control rounded-0 bg-light position-absolute" #numPers (change)="numberChanged($event.target.value)" >
              <option selected="selected" value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
        </div>
        <div class="col-lg-2 pl-1 pr-1 col-sm-6">
          <button class="btn form-button text-center w-100 bg-brand rounded-0 text-white" (click)="showTheData()">Search</button>
        </div>
      </div>
    </div>
  </section>

  
  <section class="searchResultSec bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 mb-5">
          <div *ngIf="showOnPage">
            {{searchData | json}}
          </div>
        </div>
        <div class="col-12">
          <div class="resBoxHead">
            <h2 class="h3">Place Name, Country Name</h2>
            <p>Thu 18, Feb 2021 - Fri 19, Feb 2021, <b>1 Nights</b> 1 Room 1 Adult(s)</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10">
          <div class="px-3 bg-white rounded">
            <div class="row">
              <div class="col-lg-4">
                <div class="py-3">
                  <img src="https://www.smartertravel.com/wp-content/uploads/2021/01/andrey-andreyev-dh8ONmfQyQQ-unsplash-1-375x250.jpg" class="img-fluid rounded">
                </div>
              </div>
              <div class="col-lg-5">
                <div class="py-3 h-100">
                  <div class="d-flex align-content-between flex-wrap w-100 h-100 border-right">
                    <div class="hotelName d-flex w-100">
                      <div>
                        <h4 class="h5 text-dark mb-0">Hotel Long Name</h4>
                        <div class="ratingDiv mb-2"><i class="fa fa-star text-brand"></i><i class="fa fa-star text-brand"></i><i class="fa fa-star text-brand"></i><i class="fa fa-star text-brand"></i><i class="fa fa-star-half-alt text-brand"></i></div>
                        <h6 class="text-dark">Nearest Metro Station or Famous Place</h6>
                        <a href="#" class="d-inline-block text-primary">View on Map</a>
                      </div>
                    </div>
                    <div class="hotelFeature d-flex w-100">
                      <div>
                        <span class="d-inline-block pr-2"><i class="fa fa-wifi"></i> Free Wi-Fi</span>
                        <span class="d-inline-block pr-2"><i class="fa fa-swimmer"></i> Swimming Pool</span>
                        <span class="d-inline-block pr-2"><i class="fa fa-dumbbell"></i> Gym</span>
                        <span class="d-inline-block pr-2"><i class="fa fa-utensils"></i> Restaurant</span>
                        <span class="d-inline-block"><i class="fa fa-glass-cheers"></i> Bar</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-3">
                <div class="py-3 h-100">
                  <div class="d-flex w-100 h-100 align-content-between flex-wrap">
                    <div class="d-flex w-100">
                      <div class="text-right w-100">
                        <span class="">5144 Reviews</span>
                        <span class="d-inline-block px-1 bg-brand-dark text-white">4.5/5</span>
                      </div>
                    </div>
                    <div class="d-flex w-100">
                      <div class="w-100 text-right">
                        <h3 class="h4"><i class="fa fa-dollar-sign"></i> 2344</h3>
                        <a href="#" class="d-inline-block px-3 py-2 bg-brand text-white rounded">Book Now</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <footer class="bg-brand-ext-dark pt-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <div class="footerDiv">
            <img src="http://hotel.tripwerkz.com/images/logo.png" class="img-fluid">
            <p class="mt-3 text-white font-weight-600">
              Tripwerkz is Asia's leading online travel company that provides online travel booking services such as hotel reservation, airline ticket, packaged and customized tours and other miscellaneous travel management applications.
            </p>
            <ul class="socialDiv">
              <li class="d-inline-block"><a href="#" class="d-inline-block rounded-circle border text-white text-center pt-2 mr-2"><i class="fa fa-twitter"></i></a></li>
              <li class="d-inline-block"><a href="#" class="d-inline-block rounded-circle border text-white text-center pt-2 mr-2"><i class="fa fa-facebook"></i></a></li>
              <li class="d-inline-block"><a href="#" class="d-inline-block rounded-circle border text-white text-center pt-2"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-9">
          <div class="row">
            <div class="col-lg-3">
              <h3 class="h6 font-weight-600 text-uppercase text-white">About US</h3>
              <ul class="list-unstyled">
                <li class="py-2"><a href="#" class="d-inline-block text-white">Press Release</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Blog</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Careers</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Site Map</a></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h3 class="h6 font-weight-600 text-uppercase text-white">Terms of Uses</h3>
              <ul class="list-unstyled">
                <li class="py-2"><a href="#" class="d-inline-block text-white">Terms and Conditions</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Privacy Policy</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Cookie Policy</a></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h3 class="h6 font-weight-600 text-uppercase text-white">For You</h3>
              <ul class="list-unstyled">
                <li class="py-2"><a href="#" class="d-inline-block text-white">Deals</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Gift Cards</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-lg-3">
              <h3 class="h6 font-weight-600 text-uppercase text-white">For BUSINESS</h3>
              <ul class="list-unstyled">
                <li class="py-2"><a href="#" class="d-inline-block text-white">Merchant/Supplier Access</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Partners Access</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Agent Access</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Affiliate Access</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Content Creator Access</a></li>
                <li class="py-2"><a href="#" class="d-inline-block text-white">Partner with Us</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="py-2 bg-brand-purple">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 text-center text-lg-left">
            <div class="">
              <p class="mb-0">Copyright © 2021 All Rights Reserved | TripWerkz</p>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="text-center text-lg-right">
              <a href="#" class="d-inline-block text-uppercase text-white px-1 mr-3">privacy</a>
              <a href="#" class="d-inline-block text-uppercase text-white px-1 mr-3">career</a>
              <a href="#" class="d-inline-block text-uppercase text-white px-1">contact us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
